
// Buttons

.button {
  outline: none;
  border-radius: 99rem;
  border: 1px solid $white;

  padding: 0.7rem 1.5rem;
  background-color: $white;
  color: $very-light-red;
  font-weight: bold;
}

.button--ghost {
  background-color: $very-light-red;
  color: $white;
  background-size: contain;
}
