.future-design {
  margin-top: 3rem;
}

.future-design__bg {
  background: no-repeat url(../images/illustration-editor-mobile.svg);
  height: 280px;
  background-size: contain;
}

.future-design__title {
  margin-bottom: 1rem;
  color: $very-dark-grayish-blue;
}
