.future-design {
  margin-left: auto;
  margin-top: 3rem;
  text-align: center;
}

.future-design__bg {
  background: no-repeat url(../images/illustration-editor-mobile.svg);
  height: 280px;
  background-size: contain;
}

.future-design__title {
  margin-bottom: 3rem;
  color: $very-dark-grayish-blue;
}
