html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 1rem;

  font-family: $ubuntu;
  position: relative;
  z-index: 2;
}

.container {
  padding: 0 1rem;
}
