.phones {
  color: $white;
  text-align: center;
  padding-bottom: 5rem;
  background: linear-gradient(
    to right,
    $very-dark-gray-blue,
    $very-dark-desaturated-blue
  );

  margin-top: 20rem;
  border-radius: 0 5rem 0.5rem;
  position: relative;
}

.circles-container {
  overflow: hidden;
  position: relative;
}

.phones__title {
  font-size: 2.5rem;
}

.phones__para {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.phones-content {
  padding-top: 10rem;
  z-index: 2;
  position: relative;
}

.circles {
  position: absolute;
  max-width: 588px;
  bottom: 167px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.phones-illustration {
  position: absolute;
  z-index: 3;
  bottom: 68%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

